footer {
    div {
        div {
            div {
                svg {
                    width: 10rem;
                    height: 6rem;
                }
            }

        }

    }
}

div.sec2-footer {
    section {
        h2 {
            font-size: 1.2rem;
        }

        button {
            font-weight: 400;
            font-size: 1rem;
        }
    }
}

.footer-text{
   text-align: center; 
}

.input-group {
    max-width: 30rem;
}

.f-blue {
   
    color: white;
    background-color: #071f32;
}

.foot-grey {
    background-color: #fafafa;

}

#inputGroupSelect01 {
    background-color: #edeaea;
}


button.savoir2 {
    color: red;
    background-color: #fafafa;
    border: none;
    font-weight: 400 !important;
    font-size: 1rem !important;
}

.savoir2:hover {
    color: #fafafa;
    background-color: red;
}

.trait-x {
    background-color: rgb(207, 207, 207);
    width: 0.1rem;
    height: 4rem;
}

.trait-y {
    background-color: rgb(207, 207, 207);
    height: 0.1rem;
    width: 100%;
}

.savoir3 {
    color: red;
    background-color: #071f32;
    border: none;
}

.savoir3:hover {
    color: white;
    background-color: red;
}

.input-email {
    max-width: 18rem;
}

.savoir4 {
    color: white;
    background-color: red;
    border: none;
}

.savoir4:hover {
    color: red;
    background-color: white;
}

.nav-footer {
    font-size: 0.8rem;
    font-weight: bold;

}

div.sec2-footer section button {
    font-weight: 500 !important;
    font-size: 0.8rem !important;
}